* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 14px;
    color: hsl(228, 12%, 48%);
    font-family: Montserrat;
}

body {
    background-color: hsl(30, 38%, 92%);
}

.card {
    background-color: white;
    width: 92%;
    margin: auto;
    margin-top: 7%;
    border-radius: 10px;
}

.card-body {
    width: 85%;
    margin: auto;
    padding-bottom: 10px;
}

.card > img {
    width: 100%;
    border-radius: 10px 10px 0 0 ;
}

img.desktop-img {
    display: none;
}

h1 {
    font-weight: 500;
    font-size: .9rem;
    letter-spacing: .3rem;
    margin: 18px 0 17px 0;
}

h2 {
    font-family: Fraunces;
    font-weight: 700;
    font-size: 2.1rem;
    line-height: 30px;
    color: hsl(212, 21%, 14%);
}

p {
    margin: 20px 0px;
    line-height: 1.5rem;
    font-size: .95rem;
    margin-bottom: 40px;
}

.prices-container {
    display: flex;
    color: hsl(158, 36%, 37%);
    justify-content: space-between;
    align-items: center;
    width:65%;
    
}

.price-active {
    font-family: Fraunces;
    font-size: 2.2rem;
    transition: 1s ease all;
    padding-right: 20px;
}

.price-active:hover {
    color:hsl(212, 21%, 14%);
    transition: 1s ease all;
    cursor: pointer;
}

.price-inactive {
    text-decoration:line-through;
    font-size: .9rem;
}

button {
    background-color: hsl(158, 36%, 37%);
    color: white;
    border: none;
    width: 100%;
    padding: 15px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 1rem;
    margin: 15px 0px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s ease all;
}

button img {
    width: 1rem;
    padding: 0 10px;
}

button:hover {
    transition: 1s ease all;
    cursor: pointer;
    background-color:hsl(212, 21%, 14%);
}

@media screen and (max-width: 220px) {
    .prices-container {
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 375px) {
    .card {
        display: flex;
    }

    .card > img {
        width: 50%;
        border-radius: 10px 0 0 10px ;
    }

    img.mobile-img {
        display: none;
    }

    img.desktop-img {
        display: block;
    }

    .card {
        max-width: 710px;
    }

    .card-body {
        width: 40%;  
        margin: 10px auto;
    }

    h1 {
        font-size: 1.2rem;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    h2 {
        font-size: 2.6rem;
        line-height: 35px;
    }

    p {
        font-size: 1.1rem;
        max-width: 280px;
        line-height: 30px;
    }

    .prices-container {
        margin-bottom: 30px;
        flex-wrap:wrap; 
    }
  }

  @media screen and (min-width: 500px) {
    .prices-container {
         flex-wrap:nowrap; 
    }
  }